.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    transition: 300ms;
}

.btn:hover {
    background-color: #3a3b3c;
}
