.list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 60px;
    padding: 18px;
    border-radius: 10px;
    overflow: hidden;
}

.tab:hover {
    background-color: var(--tab--hover);
}

.tab > svg {
    flex-shrink: 0;
    position: relative;
    z-index: 2;
}

.tabText {
    flex-shrink: 0;
    position: relative;
    z-index: 2;
}

.active {
    background-color: var(--tab--hover);
}

.sidebarCollapsed {
    width: 60px;

    .tab {
        width: 60px;
    }

    .tab > a > svg {
        transform: translateX(60px);
        visibility: hidden;
    }

    .tabText {
        opacity: 0;
        transform: translateX(-60px);
        visibility: hidden;
    }

    .active {
        width: 60px;
    }
}
