.sideBar {
    text-align: center;
    width: 250px;
    background-color: var(--tab--back);
    padding: 120px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.sideBarCollapsed {
    width: 90px;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.arrow {
    position: absolute;
    top: 35px;
    left: 240px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn--arrow);
    border-radius: 50%;
    border: none;
    transform: rotate(180deg);
}

.tab  {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    width: 220px;
    height: 60px;
    padding: 18px;
    border-radius: 10px;
    transition: 300ms;
}

.tab:hover {
    background-color: var(--tab--hover);
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 220px;
    padding: 18px;
    background-color: var(--toggle--back);
    color: var(--tab--color);
    border-radius: 10px;
}

.checkbox {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    user-select: none;
    color: var(--tab--color);
}

.checkbox:before {
    content: "";
    display: block;
    width: 40px;
    height: 22px;
    border-radius: 30%/50%;
    background: var(--toggle--beffore);
    border: solid 1px var(--back--color);
    transition: 0.15s;
    box-sizing: border-box;
}

.checkbox:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 22px;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--toggle--after);
    box-sizing: border-box;
}

.checkboxOn:after {
    left: 3px;
}
