.wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 30px;
}

.title > h2 {
    color: var(--text--color);
    font-weight: 600;
}

.widgets {
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 15px;
    row-gap: 15px;
}

.widgetUnit {
    width: 425px;
    height: 135px;
}

.widgets > img {
    width: 520px;
    height: 340px;
}
