.main {
    text-align: center;
    height: calc(100vh - 90px);
    padding: 30px 30px 30px 40px;
    overflow-y: scroll;
    background-color: var(--back--color);
}

::-webkit-scrollbar {
    height: 3px;
    width: 10px;
    background-color: var(--back--color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--tab--back);
    border-radius: 5px;
    box-shadow: inset 1px 1px 5px var(--text--color);
}
